<html>
    <head>
        <title>imolecule</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css' />

      {% for lib in ["chosen", "avgrund", "server"] %}
        <link href="static/css/{{lib}}.css" rel="stylesheet" type="text/css" />
      {% end %}

      {% for lib in ["jquery.min", "FileSaver.min", "avgrund", "chosen.jquery.min"] %}
        <script src="static/js/{{lib}}.js" type="text/javascript"></script>
      {% end %}

        <script src="static/js/imolecule.min.js" type="text/javascript"></script>
        <script src="static/js/main.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="imolecule">
            <article id="options">
                <p>Drag files into the window to view.</p>

                <button id="save-as" onclick="javascript:onSaveAsOpen();">save as</button>

                <select id="camera-type" onchange="javascript:onCameraType();">
                  {% for option in ["perspective", "orthographic"] %}
                    <option>{{option}}</option>
                  {% end %}
                </select>

                <select id="drawing-types" onchange="javascript:onDrawingType();">
                  {% for option in ["ball and stick", "space filling", "wireframe"] %}
                    <option>{{option}}</option>
                  {% end %}
                </select>

                <select id="shaders" onchange="javascript:onShader();">
                  {% for option in ["lambert", "basic", "phong", "toon"] %}
                    <option>{{option}}</option>
                  {% end %}
                </select>
            </article>
        </div>

        <aside class="avgrund-popup">
            <h2>save as</h2>
            <p>
                Choose an output format. Supports <a href="http://stackoverflow.com/questions/383692/what-is-json-and-why-would-i-use-it" target="_blank">json</a> and <a href="http://openbabel.org/docs/2.3.1/FileFormats/Overview.html" target="_blank">this list</a> of chemical formats.
            </p>
            <select id="formats">
              {% set top_formats = ["imolecule format", "Common cheminformatics formats"] %}
              {% for format_type in top_formats %}
                <optgroup label="{{format_type}}">
                  {% for abbv, desc in sorted(formats[format_type].items()) %}
                    <option value="{{abbv}}">{{desc}} ({{abbv}})</option>
                  {% end %}
                </optgroup>
              {% end %}

              {% for format_type, format_list in sorted(formats.items()) %}
              {% if format_type not in top_formats %}
                <optgroup label="{{format_type}}">
                  {% for abbv, desc in sorted(format_list.items()) %}
                    <option value="{{abbv}}">{{desc}} ({{abbv}})</option>
                  {% end %}
                </optgroup>
              {% end %}
              {% end %}

            </select>

            <div id="avgrund-buttons">
                <button id="left-avgrund" onclick="javascript:onSaveAsClose();">close</button>
                <button id="right-avgrund" onclick="javascript:onSave();">save</button>
            </div>
        </aside>

        <script type="text/javascript">
            // Connect a websocket to the server. The port notation is post-
            // processed server-side
            imolecule.connect({{port}});
        </script>
    </body>
</html>
