<html>
    <head>
        <title>{{ title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css' />


        <link href="chosen.css" rel="stylesheet" type="text/css" />
        <link href="server.css" rel="stylesheet" type="text/css" />

        <script src="jquery-1.11.1.min.js" type="text/javascript"></script>
        <script src="chosen.jquery.min.js" type="text/javascript"></script>

        <script src="imolecule.min.js" type="text/javascript"></script>

        <script type="text/javascript">
        $(document).ready(function () {

            imolecule.create("#imolecule");

            // Only show crystallographic options when we're looking at crystals
            (function () {
                var oldDraw = imolecule.draw;
                imolecule.draw = function () {
                    oldDraw.apply(this, arguments);
                    $("#camera-type").toggle(this.current.hasOwnProperty("unitcell"));
                };
            }());

            imolecule.draw({% raw mol_json %});
        });

        var onCameraType = function () {
            imolecule.setCameraType($("#camera-type").find(":selected").text());
        };

        var onDrawingType = function () {
            imolecule.setDrawingType($("#drawing-types").find(":selected").text());
        };

        var onShader = function () {
            imolecule.setShader($("#shaders").find(":selected").text());
        };


        </script>

    </head>
    <body>
        <div id="imolecule">
            <article id="options">

                <select id="camera-type" onchange="javascript:onCameraType();">
                    <option>perspective</option>
                    <option>orthographic</option>
                </select>

                <select id="drawing-types" onchange="javascript:onDrawingType();">
                    <option>ball and stick</option>
                    <option>space filling</option>
                    <option>wireframe</option>
                </select>

                <select id="shaders" onchange="javascript:onShader();">
                    <option>lambert</option>
                    <option>basic</option>
                    <option>phong</option>
                    <option>toon</option>
                </select>
            </article>
        </div>
    </body>
</html>
